<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_Normal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tecnicentro"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".Andrea.GenerarFacturaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pablo.App.Crear_orden"
            android:exported="false" />
        <activity
            android:name=".Pablo.App.Activity_detalleServicio"
            android:exported="false" />
        <activity
            android:name=".Pablo.App.MainActivity_Orden"
            android:exported="false" />
        <activity
            android:name=".Andrea.MainActivity_ReporteTecnico"
            android:exported="false" />
        <activity
            android:name=".Andrea.MainActivity_ReporteServicio"
            android:exported="false" />
        <activity
            android:name=".Andrea.MainActivity_FacturaEmpresarial"
            android:exported="false" />
        <activity
            android:name=".Alejandro.MainActivity_Tecnico"
            android:exported="false" />
        <activity
            android:name=".Alejandro.MainActivity_Proveedores"
            android:exported="false" />
        <activity
            android:name=".Alejandro.Agg_Proveedores"
            android:exported="false" />
        <activity
            android:name=".Alejandro.MainActivity_Clientes"
            android:exported="false" />
        <activity
            android:name=".Alejandro.Agg_Cliente"
            android:exported="false" />
        <activity
            android:name=".Alejandro.Agg_Tecnico"
            android:exported="false" />
        <activity
            android:name=".Pablo.App.Agg_servicio"
            android:exported="false" />
        <activity
            android:name=".Pablo.App.MainActivity_Servicio"
            android:exported="false"></activity>
    </application>

</manifest>